<section class="landing">
    <section>
        <h1>SyncSound</h1>
        <a href="/login">Login with spotify to get started<span> <img src="/assets/svg/spotify.svg" alt=""></span></a>
    </section>
</section>