<section class="introduction">
    <form action="#">
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Type your username..." required>

        <button type="submit">Next</button>
    </form>
</section>