<section class="lobby">
    <section>
        <section class="lobby-header">
            <h2>{{lobby.name}}</h2>
        </section>
        <a class="leave-room" href="/rooms">Leave Lobby</a>
        <section data-token="{{token}}" class="lobby-container">
            <ul class="participants">
                <h3>Participants:</h3>
                {{#each users}}
                    <li>{{user}}</li>
                {{/each}}
            </ul>
            <section class="controller">
                <button id="previousBtn">
                    <img src="/assets/svg/previous.svg" alt="">
                </button>
                <button id="playBtn">
                    <img src="/assets/svg/play.svg" alt="">
                </button>
                <button id="nextBtn">
                    <img src="/assets/svg/next.svg" alt="">
                </button>
            </section>
        </section>
    </section>
</section>