<section class="lobby">
    <section>
        <section class="lobby-header">
            <h2>{{lobby.name}}</h2>
        </section>
        <a class="leave-room" href="/rooms">Leave Lobby</a>
        <section class="lobby-container">
            <ul class="participants">
                <h3>Participants:</h3>
                {{#each users}}
                    <li>{{user}}</li>
                {{/each}}
            </ul>
            <button id="playBtn">Play song</button>
        </section>
    </section>
</section>