@import 'variables.css';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: var(--bg-dark);
}

h1{
    font-weight: 100;
    color: white;
}